stages:
  - stage1
  - stage2

.debos:
  image:
    name: ghcr.io/go-debos/debos:main
    entrypoint: [ "" ]
  tags:
    - kvm
  variables:
    ARCHITECTURE: arm64
    SUITE: trixie
  before_script:
    - mkdir -p out
  artifacts:
    expire_in: 1 week
    paths:
      - out

ci image:
  extends: .debos
  stage: stage1
  script:
    # rootfs and initramfs for CI
    - debos --artifactdir=out
            -t architecture:$ARCHITECTURE
            -t suite:$SUITE
            ci-image.yaml

prepare debian rootfs:
  extends: .debos
  stage: stage1
  script:
    # ospack
    - debos --artifactdir=out
            -t architecture:$ARCHITECTURE
            -t suite:$SUITE
            ospack-debian.yaml

rk3588 evb image:
  extends: .debos
  stage: stage2
  needs:
    - "prepare debian rootfs"
  script:
    # download u-boot and kernel from GitLab artifacts
    - ./download-artifacts.sh evb-rk3588

    # evb-rk3588 image
    - debos --artifactdir=out
            -t architecture:$ARCHITECTURE
            -t suite:$SUITE
            -t platform:evb-rk3588
            image-rockchip-rk3588.yaml

rock5a image:
  extends: .debos
  stage: stage2
  needs:
    - "prepare debian rootfs"
  script:
    # download u-boot and kernel from GitLab artifacts
    - ./download-artifacts.sh rock5a-rk3588s

    # rock5a-rk3588s image
    - debos --artifactdir=out
            -t architecture:$ARCHITECTURE
            -t suite:$SUITE
            -t platform:rock5a-rk3588s
            image-rockchip-rk3588.yaml

rock5b image:
  extends: .debos
  stage: stage2
  needs:
    - "prepare debian rootfs"
  script:
    # download u-boot and kernel from GitLab artifacts
    - ./download-artifacts.sh rock5b-rk3588

    # rock5b-rk3588 image
    - debos --artifactdir=out
            -t architecture:$ARCHITECTURE
            -t suite:$SUITE
            -t platform:rock5b-rk3588
            image-rockchip-rk3588.yaml

rk3576 evb image:
  extends: .debos
  stage: stage2
  needs:
    - "prepare debian rootfs"
  script:
    # download u-boot and kernel from GitLab artifacts
    - ./download-artifacts.sh evb-rk3576

    # evb-rk3576 image
    - debos --artifactdir=out
            -t architecture:$ARCHITECTURE
            -t suite:$SUITE
            -t platform:evb-rk3576
            image-rockchip-rk3576.yaml

sige5 image:
  extends: .debos
  stage: stage2
  needs:
    - "prepare debian rootfs"
  script:
    # download u-boot and kernel from GitLab artifacts
    - ./download-artifacts.sh sige5-rk3576

    # sige5-rk3576 image
    - debos --artifactdir=out
            -t architecture:$ARCHITECTURE
            -t suite:$SUITE
            -t platform:sige5-rk3576
            image-rockchip-rk3576.yaml

rock4d image:
  extends: .debos
  stage: stage2
  needs:
    - "prepare debian rootfs"
  script:
    # download u-boot and kernel from GitLab artifacts
    - ./download-artifacts.sh rock4d-rk3576

    # rock4d-rk3576 image
    - debos --artifactdir=out
            -t architecture:$ARCHITECTURE
            -t suite:$SUITE
            -t platform:rock4d-rk3576
            image-rockchip-rk3576.yaml
